<div ng-controller="PositionIndexController as ctrl">
	<div class="row">
		<div class="col-sm-12">
			<a href="" class="pull-right" ng-click="toggleSearch()"> Search
				<span class="caret"></span>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" class="search-form" ng-class="{invisible : isVisible}">
			<form action="">
				<div class="form-group">
					<input type="text" ng-model="position.name" class="form-control" placeholder="Filter for specific word like Javascript, CSS...">	
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<input type="date" class="form-control" placeholder="Filter for specific word like Javascript, CSS...">	
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<input type="date" class="form-control" placeholder="Filter for specific word like Javascript, CSS...">	
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>