<div class="row marketing">
  <h2>Step 1: Create an advertising</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio laboriosam et numquam architecto consequuntur, unde eius voluptatem voluptas voluptates ullam quos eos nostrum consequatur recusandae, eum iure rem. Eos, blanditiis.</p>
  <hr>

  <form action="">
  	  <h3>Tell us about the job</h3>
	  <div class="form-group">
	  	<label for="title">Job tile</label>	
	  	<input type="text" name="title" class="form-control">	
	  </div>
	  <div class="form-group">
	  	<label for="category">Category</label>
	  	<select name="category" id="categor" class="form-control"></select>
	  </div>
	  <div class="form-group">
	  	<label for="headquarter">Heardquarter</label>	
	  	<input type="text" name="headquarter" class="form-control">	
	  </div>
	  <div class="form-group">
	  	<label for="jobdescription">Job Descritption</label>
	  	<textarea class="form-control"></textarea>
	  </div>
	  <div class="form-group">
	  	<label for="howtoapply">How to apply for this job</label>
	  	<textarea class="form-control"></textarea>	
	  </div>
	  <hr>
	  <h3>Tell us about your company</h3>
	  <div class="form-group">
	  	<label for="company">Company's name</label>
	  	<input type="text" class="form-control">
	  </div>
	  <div class="form-group">
	  	<label for="logo">Logo (if you have one)</label>
	  	<input type="file" class="form-control">
	  </div>
	  <div class="form-group">
	  	<label for="logo">URL</label>
	  	<input type="site" class="form-control">
	  </div>
	  <div class="form-group">
	  	<label for="email">Email</label>
	  	<input type="email" class="form-control">
	  </div>
	  <button class="btn btn-success">Salvar</button>
  </form>	
</div>